.container{
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.social_links{
    width: 192px;
    margin: 0px;
    padding: 0px;    
    display: flex;
    align-items: center;
    gap: 32px;
    list-style-type: none;
}

.social_link{
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    cursor: pointer;
    background-color: white;    
}


.social_link:nth-of-type(1){
    width: 24px;
    height: 24px;
    mask-image: url('./icons/icon-github.svg');
    -webkit-mask-image: url('./icons/icon-github.svg');
    mask-size: 24px 24px;
    -webkit-mask-size: 24px 24px; 
}

.social_link:nth-of-type(1):hover{
    background-color: #4EE1A0;  
}

.social_link:nth-of-type(2){
    width: 24px;
    height: 22px;
    mask-image: url('./icons/icon-frontend-mentor.svg');
    -webkit-mask-image: url('./icons/icon-frontend-mentor.svg');
    mask-size: 24px 22px;
    -webkit-mask-size: 24px 22px; 
}

.social_link:nth-of-type(2):hover{
    background-color: #4EE1A0;  
}

.social_link:nth-of-type(3){
    width: 24px;
    height: 24px;
    mask-image: url('./icons/icon-linkedin.svg');
    -webkit-mask-image: url('./icons/icon-linkedin.svg');
    mask-size: 24px 24px;
    -webkit-mask-size: 24px 24px; 
}

.social_link:nth-of-type(3):hover{
    background-color: #4EE1A0;  
}

.social_link:nth-of-type(4){
    width: 23px;
    height: 18px;
    mask-image: url('./icons/icon-twitter.svg');
    -webkit-mask-image: url('./icons/icon-twitter.svg');
    mask-size: 23px 18px;
    -webkit-mask-size: 23px 18px; 
}

.social_link:nth-of-type(4):hover{
    background-color: #4EE1A0;  
}


@media(max-width: 1160px){
    .container{
        width: 90%;
    }
}

@media(max-width: 550px){
    .container{
        flex-direction: column;
        gap: 20px;
    }

    .container > strong{
        font-size: 1.5rem;
        line-height: 32px;
        letter-spacing: -0.333px;
    }

    .social_links{
        width: 154px;
        justify-content: space-between;
        gap: 0px;
    }

    .social_link{
        flex-shrink: 0;
    }

    .social_link:nth-of-type(1){
        width: 19.69px;
        height: 19.2px;
        background-color: white;
        mask-size: 19px 19px;
        -webkit-mask-size: 19px 19px; 
    }
    
    .social_link:nth-of-type(2){
        width: 19.68px;
        height: 17.6px;
        background-color: white;
        mask-size: 19px 17px;
        -webkit-mask-size: 19px 17px; 
    }
    
    .social_link:nth-of-type(3){
        width: 19.2px;
        height: 19.2px;
        background-color: white;
        mask-size: 19px 19px;
        -webkit-mask-size: 19px 19px; 
    }
    
    .social_link:nth-of-type(4){
        width: 18.62px;
        height: 15.14px;
        background-color: white;
        mask-size: 18px 15px;
        -webkit-mask-size: 18px 15px; 
    }
}